@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
body {
  font-family: "Short Stack", cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}
@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

#buttons {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: row;
  width: 1000px;
  height: 500px;
  justify-content: space-evenly;
  margin-top: 300px;
  border-style: dashed;
  align-items: center;
}

button {
  display: flex;
  width: 100px;
  text-align: justify;
  font-family: "Short Stack", cursive;
}
